<%- include('../partials/header') -%>

<div class="col-9">
    <div class="container p-3">
        <h1 class="my-4 text-center">TNP DataBase</h1>
  
        <div class="cotainer-sm mt-2">
        <h2 class="my-4"> Made by </h2>
        <div class="row">
            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100 text-center">
                    <div class="card-body">
                        <div class="card-font-size"><i class="fas fa-user-shield"></i>&nbsp;<a href="https://www.linkedin.com/in/yashlakade/" target="_blank">Yash Lakade</a> </div>
                    </div>                  
                </div>
            </div>
        </div> 
     </div>   

     <div class="container mt-5">
        <h3>Tech Stack used</h3>
        <div class="row">
        <div class="m-2 border border-primary p-3 col-xl-5 col-sm-5">
            <h4 class="text-primary"> Frontend </h4>
            <ul type=none>
                <li>EJS - Embedded JavaScript</li>
                <li>CSS - Cascading Style Sheets</li>
                <li>Js - JavaScript</li>
                <li>Bootstrap</li>
            </ul>
        </div>

        <div class="m-2 border border-primary p-3 col-xl-5 col-sm-5">
            <h4 class="text-primary"> Backend </h4>
            <ul type=none>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>MongoDB</li>                            
                <li>Mongoose</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="m-2 border border-primary p-3 col-xl-5 col-sm-5">
            <h4 class="text-primary"> NPM Packages </h4>
            <ul type=none>
                <li>Body Parser</li>
                <li>Flash</li>
                <li>Crypto</li>
                <li>Passport</li>
                <li>Nodemailer</li>
                <li>Nodemon</li>
            </ul>
        </div>

        <div class="m-2 border border-primary p-3 col-xl-5 col-sm-5">
            <h4 class="text-primary"> Tools used and References </h4>
            <ul type=none>                            
                <li><a href="https://www.npmjs.com/" target="_blank">NPM</a></li>
                <li><a href="https://developer.mozilla.org/en-US/" target="_blank"> MDN Documentation</a></li>
                <li><a href="https://www.canva.com/" target="_blank">Canva</a></li>
                <li>VS Code</li>
                <li>Local Host</li>
            </ul>
        </div>        
    </div>
    </div>
 </div>
 </div>
</div>
</div>
</div>



<%- include('../partials/footer') -%>