<%- include('../partials/header') -%>


    <div class="container text-center mt-5" style="position: relative;">
        <div class="container-sm row" style="position: absolute; top: 25px; left: 300px;">
            <img src="../Home.png" alt="Home Page">
        </div>

        <div class="container-sm row mt-5"  style="position: absolute; top: 250px; left: 600px;">
                <a id="" class="btn btn-primary" href="/login">Login to App</a>
        </div>
    </div>


<%- include('../partials/footer') -%>