<div class="wrapper">
    <nav id="sidebar">
 
       <ul class="list-unstyled components">
          <li>
             <a href="/dashboard"><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Dashboard</a>
          </li>
 
          <li>
             <a href="/student/new"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add Student Details</a>
          </li>

          <li>
             <a href="/student/search"><i class="fas fa-search"></i>&nbsp;&nbsp;Search Student</a>
          </li>
 
          <li>
            <a href="/students/studentsData"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;Student Details</a>
          </li>

          <li>
             <a href="/students/placedStudentsData"><i class="fas fa-arrow-circle-up"></i>&nbsp;&nbsp;Placed Students</a>
          </li>

          <li>
             <a href="/students/unplacedStudentsData"><i class="fas fa-arrow-circle-down"></i>&nbsp;&nbsp;UnPlaced Students</a>
          </li>
 
          <li>
             <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                   class="fas fa-user"></i>&nbsp;&nbsp;Users</a>
             <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                   <a href="/signup"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New User</a>
                </li>
 
                <li>
                   <a href="/users/all"><i class="fas fa-eye"></i>&nbsp;&nbsp;View Users</a>
                </li>
             </ul>
          </li>

          <li>
            <a href="/students/aboutProject"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;About</a>
         </li>
 
       </ul>
    </nav>
   </div>