<%- include('../partials/header') -%>

<div class="col-9">
    <div class="container p-3 w-50">
        <h1 class="text-center mt-5 mb-3">Register</h1>
        <%- include('../partials/messages') -%>
        <form action="/signup" method="POST">

            <div class="form-group px-0">
                <input type="text" name="name" class="form-control" placeholder="Name" autocomplete="off">
            </div>
    
            <div class="form-group px-0">
                <input type="email" name="email" class="form-control" placeholder="Email Address" autocomplete="off">
            </div>
    
            <div class="form-group px-0">
                <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
            </div>
    
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') -%>